services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: cotask-app
    restart: unless-stopped
    ports:
      - "3000:3000"
    env_file:
      - .env.local
    environment:
      - NODE_ENV=production
   
